{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "import/prefer-default-export": 0,
    "no-console": 0,
    "react/no-danger": 0,
    "quotes": [
      "error",
      "double"
    ],
    "react/jsx-props-no-spreading": [
      1,
      {
        "html": "ignore"
      }
    ],
    "react/jsx-max-props-per-line": [
      "warn",
      {
        "maximum": 1
      }
    ]
  }
}