.desktopBaseContainer {
  margin: 0 auto;
  width: 1194px;
}

.container320 {
  margin: 0 auto;
  width: 320px;
}

.containerCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.speechBubble {
  display: inline-block;
  letter-spacing: -0.3px;
  padding: 8px 20px;
  border-radius: 21px;
}

.speechBubbleLeft {
  border-bottom-left-radius: 0px;
  text-align: left;
  align-self: flex-start;
}

.speechBubbleRight {
  border-bottom-right-radius: 0px;
  text-align: right;
  align-self: flex-end;
}

.speechBubbleContainer {
  display: flex;
  flex-direction: column;
}

.simpleTopTitle {
  height: 70px;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -1px;
  text-align: center;
  color: black;
}

.simpleTopDesc {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  text-align: center;
  color: var(--color-font-darker);
}

.mobileSimpleTopTitle {
  height: 38px;
  font-size: var(--font-size-mobile-big3);
  font-weight: bold;
  letter-spacing: -0.54px;
  text-align: center;
  color: black;
}

.mobileSimpleTopDesc {
  text-align: center;
  color: black;
}

html[lang="ko"] .mobileSimpleTopDesc {
  letter-spacing: -0.16px;
}

.dropDownQNA {
  border-bottom: 1px solid #e0e0e3;
}

.dropDownQNATitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
  cursor: pointer;

  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.16px;
  color: var(--color-font-darker);
}

.dropDownQNATitle > img {
  margin-left: 6px;
}

.dropDownQNATitle .open {
  font-weight: bold;
}

.dropDownQNABody {
  padding: 20px 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.16px;
  color: var(--color-font-darker);
}

.dropDownQNABody p:last-child {
  margin-bottom: 0px;
}

@value bg-disabled-color: #e0e0e3;
@value bg-disabled-border-color: #cbccd3;
@value bg-enabled-color: rgba(60, 185, 160, 0.2);
@value bg-enabled-border-color: #3cb9a0;
@value lever-disabled-color: #fff;
@value lever-enabled-color: var(--color-ribbon-green);

.switchComp {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
}

.switchInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 24px;
  opacity: 0;
  z-index: 0;
}

/* Unchecked */
.switchLabel {
  display: block;
  padding: 0 0 0 48px;
  cursor: pointer;
}

.switchLabel:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 48px;
  height: 24px;
  background-color: bg-disabled-color;
  border-radius: 15.5px;
  border: solid 1px bg-disabled-border-color;
  z-index: 1;
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switchLabel:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  background-color: lever-disabled-color;
  border-radius: 14px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    0 3px 1px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: left, background-color;
}

/* Checked */
.switchInput:checked + .switchLabel:before {
  background-color: bg-enabled-color;
  border-color: bg-enabled-border-color;
}

.switchInput:checked + .switchLabel:after {
  left: 25px;
  background-color: lever-enabled-color;
}

/* https://codepen.io/nxworld/pen/oLdoWb */
.ribbon {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 120px;
  padding: 6px 0;
  background-color: var(--color-ribbon-green);
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.ribbon span small {
  font-size: 8px;
}

.ribbonTopLeft {
  top: -1px;
  left: -1px;
}

.ribbonTopLeft span {
  right: -8px;
  top: 13px;
  transform: rotate(-45deg);
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.gradientBG {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
