.container1024 {
  margin: 0 auto;
  width: 1024px;
}

.container320 {
  margin: 0 auto;
  width: 320px;
}

.simpleTopTitle {
  height: 70px;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -1px;
  text-align: center;
  color: black;
}

.simpleTopDesc {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  text-align: center;
  color: var(--color-font-darker);
}

.dropDownQNA {
  border-bottom: 1px solid #e0e0e3;
}

.dropDownQNATitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  cursor: pointer;

  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.16px;
  color: var(--color-font-darker);
}

.dropDownQNATitle .open {
  font-weight: bold;
}

.dropDownQNABody {
  padding: 20px 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.16px;
  color: var(--color-font-darker);
}
