/* top */

.topContainer {
  padding-top: var(--height-top-menu);
  height: 800px;
  color: white;
  overflow: hidden;
}

.topContentContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topLeftContainer {
  --volt-symbol-height: 48px;
  margin-top: calc(-1 * var(--volt-symbol-height));
}

.topRightContainer {
  overflow: visible;
}

.topLeftTitle {
  font-size: var(--font-size-40);
  font-weight: bold;
}

.topLeftDescription {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.startNowButton {
  background: black;
  color: white;
  padding: 10px 55px;
  font-weight: bold;
}

/* Chatting */

.chattingContainer {
  color: var(--color-font-gray1);
}

.chattingContentContainer {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-b18);
}

.chattingTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
}

.chattingDescription {
  text-align: center;
}

/* keyFeature */

.darkBg {
  background: var(--color-bg-light);
}

.keyFeatureContainer {
  composes: darkBg;
}

.keyFeatureContentContainer {
  height: 714px;
  color: var(--color-font-gray1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.keyFeatureTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
}
.keyFeatureTitle strong {
  color: var(--color-primary);
}

.KeyFeatureDescription {
  font-size: var(--font-size-b18);
}

.keyFeatureMenuContainer {
  display: flex;
  flex-direction: column;
}

.keyFeatureMenu {
  color: var(--color-font-gray1);
  width: 480px;
  height: 60px;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 18px;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.keyFeatureMenu:last-child {
  margin-bottom: 0;
}

.keyFeatureMenu img {
  margin-right: 10px;
}

.selectedKeyFeatureMenu {
  background-color: white;
  font-weight: 500;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.keyFeatureImageContainer {
  width: 581px;
}

/* .carousel__inner-slide
   slide 내부 이미지 정렬을 위해 사용 */
.keyFeatureSlide > div {
  display: flex;
  align-items: center;
}

/* sales management */

.salesManagementContentContainer {
  color: var(--color-font-gray1);
  height: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.salesManagementTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
}
.salesManagementTitle strong {
  color: var(--color-primary);
}

.salesManagementDesc {
  text-align: center;
  font-size: var(--font-size-b18);
}

.salesManagementMenuContainer {
  background-color: var(--color-bg-light);
  border-radius: 8px;
}

.salesManagementImageContainer {
  width: 828px;
}

.salesManagementMenu {
  color: var(--color-gray2);
  width: 254px;
  height: 48px;
  margin: 6px;
  background-color: transparent;
  font-weight: 500;
}
.salesManagementMenu:not(:last-child) {
  margin-right: 0;
}

.selectedSalesManagementMenu {
  color: var(--color-primary);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  border: solid 1px var(--color-gray4);
}

/* team play */

.teamPlayContainer {
  height: 856px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.teamPlayTitle {
  height: 44px;
  font-size: 52px;
  font-weight: bold;
  line-height: 0.85;
  letter-spacing: -1px;
}

.teamPlayDesc {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.2px;
  text-align: center;
}

.teamImageFlex {
  display: flex;
}

/* Customers  */

.customersContainer {
  height: 830px;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customersTitle {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.39;
  letter-spacing: -2px;
  text-align: center;
}

.customersTitle strong {
  font-size: 48px;
  letter-spacing: normal;
  color: var(--color-font-blue);
}

.customersWrapper {
  width: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.customersDetailButton {
  padding: 0px 35px;
  height: 44px;
  border-radius: 22px;
  background-color: #50a4fa;

  color: white;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rightArrow {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.customerButton {
  width: 220px;
  height: 280px;
  position: relative;
  margin: 80px 17px 140px;
  flex-shrink: 0;
}

.customerButtonBackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 60px -20px rgba(0, 0, 0, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, filter;
  overflow: hidden;
}

.customerButton:hover .customerButtonBackground {
  filter: grayscale(1) brightness(0.2);
  transform: scale(1.08197);
}

.customerButtonContent {
  position: relative;
  padding: 25px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;

  color: white;
}

.customButtonContentNumber {
  height: 29px;
  font-size: 20px;
  font-weight: 300;
}

.customButtonContentTitle {
  font-size: 24px;
  font-weight: bold;
  white-space: pre-line;
}

.customButtonContentPadding {
  flex: 1;
}

.customButtonContentLink {
  height: 27px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition: color 0.3s;
}

.customButtonContentLink:hover {
  color: var(--color-carousel-dot);
}

/* Features */

.featuresContainer {
  composes: darkBg;

  height: 1011px;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featuresTitle {
  height: 100px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.39;
  letter-spacing: -1px;
  text-align: center;
}

.featuresTitle strong {
  color: var(--color-font-blue);
}

.slideAndNavButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sliderWrapper {
  margin: 0px 40px;
  width: 495px;
  height: 360px;
  border-radius: 12px;
  box-shadow: 0 40px 80px -20px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
}

.slideNavButton {
  background-color: transparent;
}

.slideNavButton:disabled {
  filter: opacity(0.3);
}

.slideDetailLink {
  width: 136px;
  height: 29px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--color-font-blue);
}

.slideDetailLinkContainer {
  text-align: center;
}

.slideDetailLink img {
  vertical-align: middle;
}

.slideDetailDotGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.slideDetailDot {
  padding: 7px 25px 8px;
  border-radius: 21px;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: var(--color-font-darker);
  transition: background-color 0.3s, color 0.3s;
}

.slideDetailDot:not(:first-child) {
  margin-left: 10px;
}

.slideDetailDotSelected {
  background-color: var(--color-carousel-dot);
  color: white;
}

/* 지금 바로 박스히어로를 시작하세요 */

.startNowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 0px;
}

.startNowTitle {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  color: black;
}

.startNowDescription {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.2px;
  text-align: center;
}

.startNowDescription strong {
  font-weight: bold;
  color: var(--color-font-blue);
}

.startNowDetailLink {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--color-font-blue);
}

.startNowDetailLink img {
  vertical-align: middle;
}
