.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FAFBFC;
}

.imgContainer {
  display: relative;
  width: 600px;
}

.img {
  max-width: 100%;
}

.link1 {
  top: 3673px;
  left: 185px;
  right: 671px;
  bottom: 3755px;

  border: 1px solid red;
  position: absolute;
}
