/* top */

.topContainer {
  padding-top: var(--height-top-menu);
}

.topContentContainer {
  padding: 50px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.topLeftContainer {
  --volt-symbol-height: 48px;
  margin-top: calc(-1 * var(--volt-symbol-height));
}

.topRightContainer {
  overflow: visible;
}

.topDescription {
  color: var(--color-gray1);
  font-size: var(--font-size-h5);
}

.topTitle {
  color: var(--color-black);
  font-size: var(--font-size-36);
  font-weight: bold;
  line-height: 1.33;
}

.buttons {
  display: flex;
}

.startNowButton {
  background: var(--color-primary);
  color: white;
  width: 212px;
  height: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.topButtonIcon {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}

.video {
  border-radius: 32px;
}

/* Customers */

.customersContentContainer {
  padding: 100px 0;
  color: var(--color-black);
}

.customersTitle {
  margin: 0;
  font-size: var(--font-size-36);
  font-weight: bold;
  text-align: center;
}

.customersDesc {
  font-size: var(--font-size-b18);
  line-height: 1.5;
  text-align: center;
}

/* keyFeature */

.darkBg {
  background: var(--color-gray5);
}

.keyFeatureContainer {
  composes: darkBg;
}

.keyFeatureContentContainer {
  height: 714px;
  color: var(--color-black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  --box-shadow-blur: 20px;
  padding: 0 var(--box-shadow-blur);
  width: calc(100% + (var(--boxhero-shadow-blur) * 2));
  margin-left: -1 * var(--box-shadow-blur);
}

.KeyFeatureDescriptionContainer {
  max-width: 480px;
}

.keyFeatureTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
}

.keyFeatureMenuContainer {
  display: flex;
  flex-direction: column;
}

.keyFeatureMenu {
  color: var(--color-black);
  font-size: var(--font-size-b18);
  width: 480px;
  height: 62px;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 18px;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.keyFeatureMenu:last-child {
  margin-bottom: 0;
}

.keyFeatureMenu img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.selectedKeyFeatureMenu {
  background-color: white;
  font-weight: 500;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  outline: solid 4px var(--color-primary-25);
}
.selectedKeyFeatureMenu:focus {
  outline: solid 4px var(--color-primary-25);
}

.keyFeatureSlider {
  height: 100%;
}

.keyFeatureSlide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.keyFeatureSlideLeft {
  justify-content: flex-start;
}

/* StartButtons */

.startButtons {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startButtonsDesc {
  margin: 0;
  color: var(--color-gray1);
  font-size: var(--font-size-h5);
}

.startButtonsTitle {
  margin: 0;
  color: var(--color-black);
  font-size: var(--font-size-36);
  font-weight: bold;
  line-height: 1.33;
}

/* Customers  */

.sectorsContainer {
  composes: darkBg;
  padding: 100px 0;
  color: var(--color-black);
}

.sectorsContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectorsTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
  text-align: center;
}

.sectorsTitle strong {
  font-size: 48px;
  letter-spacing: normal;
  color: var(--color-primary);
}

.sectorsDesc {
  font-size: var(--font-size-b18);
  text-align: center;
  line-height: 1.5;
}

.sectorsCardContainer {
  width: 990px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -10px 0 0 -10px;
}

.sectorCard,
.moreCard {
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px var(--color-gray4);
  margin: 10px 0 0 10px;
  line-height: 24px;
  background-color: white;
}

.moreCard {
  background-color: var(--color-gray5);
}

/* Features */

.featuresContainer {
  padding: 100px 0;
  color: var(--color-black);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featuresTitle {
  margin: 0;
  height: 100px;
  font-size: var(--font-size-36);
  font-weight: bold;
  text-align: center;
  letter-spacing: -1.0px;
}

.featureSubTitle {
  margin: 0;
  font-size: var(--font-size-h3);
  line-height: 50px;
  letter-spacing: -0.78px;
  text-align: center;
  color: var(--color-light-blue);
}

.slideAndNavButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sliderWrapper {
  margin: 0px 40px;
  width: 495px;
  height: 360px;
  border-radius: 12px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.slideNavButton {
  background-color: transparent;
}

.slideNavButton:disabled {
  filter: opacity(0);
  cursor: default;
}

.slideDetailLink {
  width: 136px;
  height: 29px;
  font-size: var(--font-size-h5);
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--color-primary);
}

.slideDetailLinkContainer {
  text-align: center;
}

.slideDetailLink img {
  vertical-align: middle;
}

.rightArrow {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.slideDetailDotGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.slideDetailDot {
  padding: 7px 23px 9px;
  border-radius: 21px;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: var(--color-black);
  transition: background-color 0.3s, color 0.3s;
}

.slideDetailDot:not(:first-child) {
  margin-left: 32px;
}

.slideDetailDotSelected {
  background-color: var(--color-light-blue);
  color: white;
}

/* Partners */

.partnersContainer {
  background-color: var(--color-gray1);
  color: var(--color-partners);
}

.partnersContentContainer {
  height: 180px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.partnersTitle {
  font-size: var(--font-size-h5);
}
