.dropDownMenu {
  position: relative;
}

.dropDownMenuTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropDownMenuTitle > img {
  margin-left: 2px;
}

.subMenus {
  position: absolute;
  right: 0;
  z-index: 100;
  width: 240px;
  margin: 4px 0 0 0;
  padding: 6px 1px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e0e0e3;
  background-color: white;
}

.wideSubMenus {
  width: 360px;
}

.subMenu {
  display: flex;
  padding: 12px;
  font-weight: 500;
  color: var(--color-font-gray1);
}
.subMenu:hover {
  background-color: var(--color-bg-light);
}

.subMenuIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.subMenuDesc {
  font-weight: normal;
  margin-top: 4px;
  padding-right: 4px;
}

.headerContainer {
  margin: 0;
  width: 100%;
  height: var(--height-top-menu);
  z-index: 100;
  position: fixed;
}

.headerPlaceholder {
  height: var(--height-top-menu);
}

.menuContainer {
  height: 100%;
  padding: 0px 20px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.menuContainer > *:not(:nth-child(1)) {
  margin-left: 50px;
}

.menuContainer a {
  color: inherit;
}

.padding {
  margin: 0px;
  flex: 1;
}

.selected {
  font-weight: bold;
}

.biLogo {
  width: 113px;
  display: block;
}

.loginButton {
  border: solid 1px #fff;
  background: transparent;
  color: inherit;

  padding: 10px 25px;
}

/* float container */


.whiteContainer {
  background-color: #fff;
}

.whiteContainer .menuContainer {
  color: var(--color-font-darker);
}

.whiteContainer .loginButton {
  border-color: var(--color-font-darker);
}
