.menuItem {
  width: 140px;
  display: block;
  padding: 20px 10px;
  text-align: center;
}

.menuItemLabel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.16px;
  text-align: center;
  color: var(--color-font-darker);
}

.menuItem:hover {
  border-radius: 8px;
  background-color: var(--color-bg-light);
}

.menuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.featureTemplate {
  padding: 120px 0px 120px 20px;
  overflow: hidden;
}

.featureTemplateTitle {
  font-size: 52px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -1px;
  color: black;
}

.featureTemplateDesc {
  font-size: 20px;
  line-height: 1.8;
  color: black;
}

html[lang="ko"] .featureTemplateDesc {
  letter-spacing: -0.22px;
}

.featureTemplateStartNow {
  min-width: 180px;
  border-radius: 6px;
  background-color: var(--color-font-blue);
  padding: 9px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.featureTemplateFigureContainer {
  position: relative;
  overflow: visible;
}

.featureTemplateDescFigContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.featureTemplateTitleDescContainer {
  width: 497px;
  flex-shrink: 0;
}

.halfContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.halfContainer > * {
  width: 50%;
}

.demoTemplate {
  border-left: 2px solid #f5a623;
  padding: 0px 28px;
  min-height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.demoLogo {
  vertical-align: bottom;
}

.demoTitle {
  margin-left: 14px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: -0.16px;
  color: var(--color-font-primary);
}

.demoDesc {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: -0.18px;
  color: var(--color-font-darker);
}

.bgOrange {
  background-color: var(--color-feature-bg-orange);
}

.bgGreen {
  background-color: var(--color-feature-bg-green);
}

.bgBlue {
  background-color: var(--color-feature-bg-blue);
}

.barGreen {
  border-left-color: var(--color-feature-bar-green);
}

.barOrange {
  border-left-color: var(--color-feature-bar-orange);
}

.barBlue {
  border-left-color: var(--color-feature-bar-blue);
}
