.topContentContainer {
  padding: 100px 0;
  color: var(--color-font-gray1);
}

.topTitle {
  font-size: var(--font-size-40);
  font-weight: bold;
  text-align: center;
}

.topDesc {
  font-size: var(--font-size-b18);
  text-align: center;
  line-height: 1.5;
}

.menuItem {
  width: 140px;
  display: block;
  padding: 20px 10px;
  text-align: center;
}

.menuItemLabel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.16px;
  text-align: center;
  color: var(--color-font-gray1);
}

.menuItem:hover {
  border-radius: 8px;
  background-color: var(--color-bg-light);
}

.menuContainer {
  padding: 0 174px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.featureTemplate {
  overflow: hidden;
}

.featureTemplateContentContainer {
  padding: 70px 0 100px 102px;
  color: var(--color-font-gray1);
}

.featureTemplateDescFigContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.featureTemplateTitleDescContainer {
  padding-top: 30px;
  width: 480px;
  flex-shrink: 0;
}

.featureTemplateTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
}

.featureTemplateDesc {
  font-size: var(--font-size-b18);
  line-height: 1.5;
}

html[lang="ko"] .featureTemplateDesc {
  letter-spacing: -0.22px;
}

.featureTemplateStartNow {
  min-width: 180px;
  border-radius: 6px;
  background-color: var(--color-primary);
  padding: 9px 30px;
  font-size: var(--font-size-b16);
  font-weight: bold;
  text-align: center;
  color: white;
}

.halfContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.halfContainer > * {
  width: 50%;
}

.demoTemplate {
  width: 478px;
  border-left: 2px solid var(--color-orange);
  padding: 0 0 10px 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.demoTemplate:first-child {
  margin-right: 30px;
}

.demoUserProfile {
  display: flex;
  align-items: flex-end;
}

.demoLogo {
  vertical-align: bottom;
}

.demoTitle {
  margin-left: 14px;
  font-size: var(--font-size-b16);
  line-height: 1.9;
  letter-spacing: -0.16px;
  color: var(--color-font-primary);
}

.demoDesc {
  width: 100%;
  font-size: var(--font-size-b16);
  line-height: 1.5;
  letter-spacing: -0.18px;
  color: var(--color-font-gray1);
}

.bgWhite {
  background-color: white;
}

.bgOrange {
  background-color: var(--color-feature-bg-orange);
}

.bgGreen {
  background-color: var(--color-feature-bg-green);
}

.bgBlue {
  background-color: var(--color-feature-bg-blue);
}

.barGreen {
  border-left-color: var(--color-feature-bar-green);
}

.barOrange {
  border-left-color: var(--color-feature-bar-orange);
}

.barGray {
  border-left-color: var(--color-feature-bar-gray);
}

.barBlue {
  border-left-color: var(--color-feature-bar-blue);
}
