/* top */

.topContainer {
  padding-top: var(--height-top-menu);
  height: 800px;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.topContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topLeftContainer {
  --volt-symbol-height: 48px;
  margin-top: calc(-1 * var(--volt-symbol-height));
}

.topRightContainer {
  overflow: visible;
}

.topLeftTitle {
  font-size: var(--font-size-40);
  font-weight: bold;
  line-height: 1.45;
}

.topLeftDescription {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.startNowButton {
  background: black;
  color: white;
  width: 243px;
  height: 44px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.topButtonIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Chatting */

.chattingContainer {
  color: var(--color-font-gray1);
}

.chattingContentContainer {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-b18);
}

.chattingTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
}

.chattingDescription {
  text-align: center;
  line-height: 1.5;
}

/* keyFeature */

.darkBg {
  background: var(--color-bg-light);
}

.keyFeatureContainer {
  composes: darkBg;
}

.keyFeatureContentContainer {
  height: 714px;
  color: var(--color-font-gray1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.KeyFeatureDescriptionContainer {
  max-width: 480px;
}

.keyFeatureTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
}
.keyFeatureTitle strong {
  color: var(--color-primary);
}

.KeyFeatureDescription {
  font-size: var(--font-size-b18);
  line-height: 1.5;
}

.keyFeatureMenuContainer {
  display: flex;
  flex-direction: column;
}

.keyFeatureMenu {
  color: var(--color-font-gray1);
  width: 480px;
  height: 60px;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 18px;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.keyFeatureMenu:last-child {
  margin-bottom: 0;
}

.keyFeatureMenu img {
  margin-right: 10px;
}

.selectedKeyFeatureMenu {
  background-color: white;
  font-weight: 500;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.keyFeatureSlider {
  width: 581px;
}

.keyFeatureSlide {
  display: flex;
  align-items: center;
}

/* sales management */

.salesManagementContentContainer {
  color: var(--color-font-gray1);
  height: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.salesManagementTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
}
.salesManagementTitle strong {
  color: var(--color-primary);
}

.salesManagementDesc {
  text-align: center;
  font-size: var(--font-size-b18);
  line-height: 1.5;
}
.salesManagementDesc strong {
  background-color: var(--color-light-blue-20);
}

.salesManagementMenuContainer {
  display: flex;
  background-color: var(--color-bg-light);
  border-radius: 8px;
}

.salesManagementImageContainer {
  width: 828px;
}

.salesManagementMenu {
  color: var(--color-gray2);
  width: 254px;
  height: 48px;
  margin: 6px;
  background-color: transparent;
  font-weight: 500;
}
.salesManagementMenu:not(:last-child) {
  margin-right: 0;
}

.selectedSalesManagementMenu {
  color: var(--color-primary);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  border: solid 1px var(--color-gray4);
}

/* team play */

.teamPlayContainer {
  height: 856px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.teamPlayTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
}

.teamPlayDesc {
  font-size: var(--font-size-b18);
  text-align: center;
  line-height: 1.5;
}

.teamImageFlex {
  display: flex;
}

/* Customers  */

.customersContainer {
  padding: 100px 0;
  color: var(--color-font-gray1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customersTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
  text-align: center;
}

.customersTitle strong {
  font-size: 48px;
  letter-spacing: normal;
  color: var(--color-font-blue);
}

.customersDesc {
  font-size: var(--font-size-b18);
  text-align: center;
  line-height: 1.5;
}

.customersCardContainer {
  width: 990px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -10px 0 0 -10px;
}

.customerCard {
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px var(--color-gray4);
  margin: 10px 0 0 10px;
  line-height: 24px;
}

/* Features */

.featuresContainer {
  composes: darkBg;

  padding: 100px 0;
  color: var(--color-font-gray1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featuresTitle {
  height: 100px;
  font-size: var(--font-size-36);
  font-weight: bold;
  text-align: center;
}

.featuresTitle strong {
  color: var(--color-primary);
}

.slideAndNavButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sliderWrapper {
  margin: 0px 40px;
  width: 495px;
  height: 360px;
  border-radius: 12px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.slideNavButton {
  background-color: transparent;
}

.slideNavButton:disabled {
  filter: opacity(0.3);
}

.slideDetailLink {
  width: 136px;
  height: 29px;
  font-size: var(--font-size-h5);
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--color-primary);
}

.slideDetailLinkContainer {
  text-align: center;
}

.slideDetailLink img {
  vertical-align: middle;
}

.rightArrow {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.slideDetailDotGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.slideDetailDot {
  padding: 7px 25px 8px;
  border-radius: 21px;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: var(--color-font-gray1);
  transition: background-color 0.3s, color 0.3s;
}

.slideDetailDot:not(:first-child) {
  margin-left: 10px;
}

.slideDetailDotSelected {
  background-color: var(--color-light-blue);
  color: white;
}

/* 지금 바로 박스히어로를 시작하세요 */

.startNowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  color: var(--color-font-gray1);
}

.startNowTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
  text-align: center;
}

.startNowDescription {
  font-size: var(--font-size-b18);
  text-align: center;
  line-height: 1.5;
}

.startNowDescription strong {
  font-weight: bold;
}

.startNowDetailLink {
  font-size: var(--font-size-h5);
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--color-primary);
}

.startNowDetailLink img {
  vertical-align: middle;
}
