/* top */

.topContentContainer {
  padding: 100px 0;
  color: var(--color-black);
}

.topTitle {
  font-size: var(--font-size-40);
  font-weight: bold;
  text-align: center;
}

.vl {
  border-left: 2px solid var(--color-gray4);
  margin: 46px 14px 0;
}

.topDescContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.topDescColumn {
  width: 480px;
  text-align: center;
}

.topDescTitle {
  font-size: var(--font-size-h5);
}

.topDescDesc {
  font-size: var(--font-size-b16);
  color: var(--color-gray1);
  line-height: 1.5;
}

.planDescription {
  color: var(--color-black);
  font-weight: bold;
  font-size: var(--font-size-h5);
  line-height: 1.37;
}

.plainLink {
  color: inherit;
  text-decoration: underline;
}

/* Switch */

.switchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.billingCycleButton {
  background-color: transparent;
  font-size: var(--font-size-b16);
  font-weight: bold;
  line-height: 1;
  color: var(--color-gray2);

  position: relative;
}

.billingCycleButton.active {
  color: var(--color-gray1);
}

.yearlyPlanSaveLabel {
  font-size: var(--font-size-b14);
  color: var(--color-primary);
  white-space: nowrap;
  font-weight: normal;

  position: absolute;
  top: 50%;
  left: calc(100% + 26px);
  transform: translate(0, -50%);
}

/* Price Table */

.priceTable {
  border-spacing: 30px 0px;
  border-collapse: separate;
  font-size: var(--font-size-b16);
  line-height: 1.37;
  max-width: 948px;
  table-layout: fixed;
  margin: 0 auto;
}

.priceTable td,
.priceTable th {
  padding: 0 16px;
  vertical-align: top;
}

.priceTable tr:first-child td,
.priceTable tr:first-child th {
  padding-top: 36px;
}

.priceTable tr:last-child td,
.priceTable tr:first-child th {
  padding-bottom: 36px;
}

.priceTable tr:first-child td {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-width: 1px 1px 0 1px;
}

.priceTable tr:last-child td {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-width: 0 1px 1px 1px;
}

.priceTable td {
  text-align: center;
  border-style: solid;
  border-width: 0 1px 0 1px;
}

.priceTable th {
  font-weight: 500;
}

.bizCell {
  border-color: var(--color-light-blue-60);
  background-color: var(--color-light-blue-20);
}

.freeCell {
  border-color: var(--color-gray4);
  background-color: var(--color-gray5);
}

.planTitleRow th,
.planTitleRow td {
  font-size: var(--font-size-h5);
  font-weight: bold;
}

.priceRow td {
  font-size: 48px;
  font-weight: bold;
  padding-top: 12px;
  line-height: 1.5;
}

.priceUnitRow td {
  font-size: var(--font-size-b14);
  font-weight: normal;
  padding-top: 2px;
}

.startButtonRow > td {
  padding-top: 32px;
  padding-bottom: 38px;
}

.startButton {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  background-color: var(--color-primary);
  font-size: var(--font-size-b16);
  font-weight: bold;
  color: white;
}

.limitRow td {
  padding-bottom: 24px;
  font-weight: bold;
}

.extensionRow td {
  font-weight: 500;
}

.limitRow small,
.extensionRow small {
  font-size: var(--font-size-b12);
  font-weight: 500;
  color: var(--color-gray1);
}

.extensionRow + .extensionRow td {
  padding-top: 16px;
}

.checkIcon {
  width: 20px;
  height: 20px;
}

.dividerRow td {
  padding-top: 30px;
  padding-bottom: 30px;
}
.divider {
  height: 1px;
  background-color: var(--color-gray3);
}

.featureLimitRow td {
  padding-bottom: 24px;
  font-weight: 500;
}

/* faq */

.faqContainer {
  background-color: var(--color-gray5);
  padding: 100px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.faqContentContainer {
  margin: 0 auto;
  width: 786px;
}

.faqTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
  line-height: 1.35;
  text-align: center;
  color: var(--color-black);
}

.buttonShowMore {
  width: 176px;
  height: 44px;
  border-radius: 6px;
  background-color: var(--color-primary);
  font-size: var(--font-size-b16);
  font-weight: bold;
  color: white;
  text-align: center;
}

.directContactContainer {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.directContactTitle {
  height: 54px;
  font-size: var(--font-size-36);
  font-weight: bold;
  color: var(--color-primary);
}

.directContactDesc {
  font-size: var(--font-size-b18);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  text-align: center;
  color: var(--color-black);
}

.directContactButton {
  background: transparent;
  width: 176px;
  height: 44px;
  border-radius: 6px;
  border: solid 1px var(--color-primary);
  font-size: var(--font-size-b16);
  font-weight: bold;
  text-align: center;
  color: var(--color-primary);
}

.faqContentContainer ul {
  margin-bottom: 10px;
}

.faqContentContainer li {
  margin: 0;
}

.faqContentContainer a {
  color: var(--color-primary);
  text-decoration: underline;
}

.faqContentContainer p:first-child {
  margin: 0 0 10px;
}

.faqContentContainer p {
  margin: 10px 0;
}
