/* top */

.topContentContainer {
  padding: 100px 0;
  color: var(--color-black);
}

.topTitle {
  font-size: var(--font-size-40);
  font-weight: bold;
  text-align: center;
}

.vl {
  border-left: 2px solid var(--color-gray4);
  margin: 46px 14px 0;
}

.topDescContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.topDescColumn {
  width: 480px;
  text-align: center;
}

.topDescTitle {
  font-size: var(--font-size-h5);
}

.topDescDesc {
  font-size: var(--font-size-b16);
  color: var(--color-gray1);
  line-height: 1.5;
}

.planDescription {
  color: var(--color-black);
  font-weight: bold;
  font-size: var(--font-size-h5);
  line-height: 1.37;
}

.plainLink {
  color: inherit;
  text-decoration: underline;
}

/* pricing table */

.switchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.billingCycleButton {
  background-color: transparent;
  font-size: var(--font-size-b16);
  font-weight: bold;
  line-height: 1;
  color: var(--color-gray2);

  position: relative;
}

.billingCycleButton.active {
  color: var(--color-gray1);
}

.yearlyPlanSaveLabel {
  font-size: var(--font-size-b14);
  color: var(--color-primary);
  white-space: nowrap;
  font-weight: normal;

  position: absolute;
  top: 50%;
  left: calc(100% + 26px);
  transform: translate(0, -50%);
}

.pricingTable {
  --each-h-border-spacing: 30px;
  --inner-content-width: 378px;

  margin: 0px auto;
  border-spacing: var(--each-h-border-spacing) 0px;
  border-collapse: separate;
  color: var(--color-black);
  line-height: normal;

  font-size: var(--font-size-b18);

  width: calc(
    (var(--inner-content-width) * 2) + (var(--each-h-border-spacing) * 3)
  );
}

.pricingTable small {
  font-size: var(--font-size-b14);
  font-weight: normal;
}

.pricingTable thead strong {
  font-size: var(--font-size-h4);
}

.pricingTable td,
.pricingTable th {
  border: none;
  padding: 0 26px;
  text-align: center;
}

.pricingTable td.multiLine {
  line-height: 1.3;
}

.pricingTable td.verticalAlignBottom {
  vertical-align: bottom;
  letter-spacing: -0.2px;
}

.pricingTable tbody tr:first-child td {
  padding-top: 30px;
  padding-bottom: 14px;
}

.pricingTable tbody tr:last-child td {
  padding-bottom: 30px;
}

.pricingTable thead th {
  padding-bottom: 30px;
  width: 50%;
}

.pricingTable tbody td:nth-child(1) {
  background-color: var(--color-orange-20);
}

.pricingTable tbody td:nth-child(2) {
  background-color: var(--color-light-blue-20);
}

.pricingTable tbody tr:first-child td {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.pricingTable tbody tr:last-child td {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.pricingTable tfoot {
  vertical-align: top;
}

.pricingTable tfoot td {
  padding-top: 30px;
  font-size: var(--font-size-b14);
  color: var(--color-gray1);
  text-align: center;
  line-height: 1.45;
}

.startButtonRow > td {
  padding: 30px 0;
}

.startButton {
  width: calc(100% - 100px);
  height: 44px;
  border-radius: 6px;
  background-color: var(--color-primary);
  font-size: var(--font-size-b16);
  font-weight: bold;
  color: white;
}

.sectionTitleRow td,
.sectionTitleRow ~ tr:not(.paddingBottom40) td {
  padding-bottom: 16px;
}

.paddingBottom40 td {
  padding-bottom: 40px;
}

.sectionTitleRow > td {
  color: var(--color-gray2);
  font-size: var(--font-size-b16);
  font-weight: bold;
}

.price {
  font-size: 52px;
  font-weight: bold;
  line-height: normal;
}

.priceWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* faq */

.faqContainer {
  background-color: var(--color-gray5);
  padding: 100px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.faqContentContainer {
  margin: 0 auto;
  width: 786px;
}

.faqTitle {
  font-size: var(--font-size-36);
  font-weight: bold;
  line-height: 1.35;
  text-align: center;
  color: var(--color-black);
}

.buttonShowMore {
  width: 176px;
  height: 44px;
  border-radius: 6px;
  background-color: var(--color-primary);
  font-size: var(--font-size-b16);
  font-weight: bold;
  color: white;
  text-align: center;
}

.directContactContainer {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.directContactTitle {
  height: 54px;
  font-size: var(--font-size-36);
  font-weight: bold;
  color: var(--color-primary);
}

.directContactDesc {
  font-size: var(--font-size-b18);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  text-align: center;
  color: var(--color-black);
}

.directContactButton {
  background: transparent;
  width: 176px;
  height: 44px;
  border-radius: 6px;
  border: solid 1px var(--color-primary);
  font-size: var(--font-size-b16);
  font-weight: bold;
  text-align: center;
  color: var(--color-primary);
}

.faqContentContainer ul {
  margin-bottom: 10px;
}

.faqContentContainer li {
  margin: 0;
}

.faqContentContainer a {
  color: var(--color-primary);
  text-decoration: underline;
}

.faqContentContainer p:first-child {
  margin: 0 0 10px;
}

.faqContentContainer p {
  margin: 10px 0;
}
