.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FAFBFC;
}

.imgContainer {
  position: relative;
}

.link {
  border: 1px solid red;
  position: absolute;
  cursor: pointer;
}
