.dropDownMenu {
  position: relative;
}

.dropDownMenuTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 28px;
}

.dropDownMenuTitle > img {
  margin-left: 2px;
}

.floatingMenuContainer {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-4px);
  position: absolute;
  right: 0;
  z-index: 100;
  padding: 6px 1px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px var(--color-gray4);
  background-color: white;
}
.dropDownMenu:hover .floatingMenuContainer {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.subMenu {
  display: flex;
  align-items: center;
  padding: 12px;
  color: var(--color-black);
}
.subMenu:hover {
  background-color: var(--color-gray5);
}

.subMenuIcon {
  align-self: flex-start;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.subMenuTitle {
  min-width: 180px;
  font-weight: 500;
}

.subMenuDesc {
  width: 300px;
  margin: 4px 4px 0 0;
}

.headerContainer {
  margin: 0;
  width: 100%;
  height: var(--height-top-menu);
  z-index: 100;
  position: fixed;
}

.headerPlaceholder {
  height: var(--height-top-menu);
}

.menuContainer {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.menuContainer > *:not(:nth-child(1)) {
  margin-left: 50px;
}

.menuContainer a {
  color: inherit;
}

.padding {
  margin: 0px;
  flex: 1;
}

.biLogo {
  width: 113px;
  display: block;
}

.loginButton {
  border: solid 1px #fff;
  background: transparent;
  color: inherit;

  padding: 10px 25px;
}

/* float container */


.whiteContainer {
  background-color: #fff;
}

.whiteContainer .menuContainer {
  color: var(--color-black);
}

.whiteContainer .loginButton {
  border-color: var(--color-black);
}
