.headerContainer {
  margin: 0;
  width: 100%;
  height: var(--height-top-menu);
  z-index: 100;
  position: absolute;
}

.menuContainer {
  height: 100%;
  padding: 0px 20px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.menuContainer > *:not(:nth-child(1)) {
  margin-left: 50px;
}

.menuContainer a {
  color: inherit;
}

.padding {
  margin: 0px;
  flex: 1;
}

.selected {
  font-weight: bold;
}

.biLogo {
  width: 113px;
  display: block;
}

.loginButton {
  border: solid 1px #fff;
  background: transparent;
  color: inherit;

  padding: 10px 25px;
}

/* float container */


.floatContainer {
  position: fixed;
  background-color: #fff;
}

.floatContainer .menuContainer {
  color: var(--color-font-darker);
}

.floatContainer .loginButton {
  border-color: var(--color-font-darker);
}
