.postBodyView {
  --color-hr: #e0e0e3;
  --color-bg-mark: #50a4fa33;
  --color-caption: #8f91a0;
  --color-table-odd-bg: #f7f9fc;
  --color-table-border: #e0e0e3;
  --color-anchor: #4f67ff;
  --color-box-border: #e0e0e3;

  --color-bg-tip-box: rgba(80, 164, 250, 0.1);
  --color-bg-caution-box: rgba(245, 166, 35, 0.1);
  --color-bg-notice-box: rgba(60, 185, 160, 0.1);
  --color-bg-gray-box: #f7f9fc;

  --font-size-caption: 0.875rem;
  --font-size-small: 0.875rem;
  --font-size-normal: 1rem;
  --font-size-h2: 1.43rem;
  --font-size-h3: 1.285rem;
  --font-size-h4: 1.142rem;

  --margin-small: 0.57rem;
  --margin-big: 3.43rem;
  --margin-normal: 0.9rem;

  --padding-box-horizontal: 1.42em;
  --padding-box-vertical: 1.142em;

  --line-height-normal: 1.96em;
  --line-heihgt-li: 2.3em;

  color: var(--color-font-darker);
}

/* 하위 요소 스타일 초기화 */

.postBodyView * {
  margin: 0;
  padding: 0;
}

/* 형태 관련 */

.postBodyView h2,
.postBodyView h3,
.postBodyView h4 {
  font-weight: bold;
}

.postBodyView h2 {
  font-size: var(--font-size-h2);
}

.postBodyView h3 {
  font-size: var(--font-size-h3);
}

.postBodyView h4 {
  font-size: var(--font-size-h4);
}

.postBodyView p {
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);

  text-align: justify;
  hyphens: auto;
}

.postBodyView a {
  color: var(--color-anchor);
  text-decoration: underline;
}

.postBodyView li {
  font-size: var(--font-size-normal);
  line-height: var(--line-heihgt-li);

  margin-left: 1.4em;
}

.postBodyView blockquote {
  margin: 0;
  padding-left: 12px;
  border-left: 4px solid black;
}

.postBodyView hr {
  margin: 0;
  border-top: 1px solid var(--color-hr);
}

.postBodyView figure figcaption {
  margin-top: var(--margin-normal);

  display: flex;
  justify-content: center;

  font-size: var(--font-size-caption);
  color: var(--color-caption);
}

/* 위치 관련 */

.postBodyView > p,
.postBodyView > ul,
.postBodyView > ol,
.postBodyView > dl {
  margin: var(--margin-normal) 0;
}

.postBodyView blockquote {
  margin: var(--margin-normal) 0;
}

.postBodyView mark {
  background-color: var(--color-bg-mark);
}

.postBodyView li > p {
  margin: 0;
}

.postBodyView h2,
.postBodyView h3,
.postBodyView h4 {
  margin-top: var(--margin-big);
}

.postBodyView hr {
  margin: var(--margin-big) 0;
}

.postBodyView table {
  margin: var(--margin-big) auto;

  max-width: 100%;
  overflow: auto;
  width: 100%;
  width: max-content;
}

.postBodyView table th,
.postBodyView table td {
  padding: 6px 13px;
  text-align: center;

  border: 1px solid var(--color-table-border);
}

.postBodyView table tr:nth-child(2n) {
  background-color: var(--color-table-odd-bg);
}

/* 커스텀 요소 */

.boxWrapper,
.grayBox {
  display: block;
  margin: var(--margin-normal) 0;
  padding: var(--padding-box-vertical) var(--padding-box-horizontal);

  font-size: var(--font-size-small);

  border-radius: 6px;
}

.boxWrapper {
  display: flex;
  align-items: flex-start;

  border: 1px solid var(--color-box-border);
}

.grayBox {
  background-color: var(--color-bg-gray-box);
}

.boxTitle {
  display: block;
  font-weight: bold;

  margin-bottom: var(--margin-small);
}

.boxIcon {
  flex: 0 0 auto;

  width: 24px;
  height: 24px;

  object-fit: cover;
}

.boxBody {
  margin-left: var(--margin-normal);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

.boxWrapper.tipBox {
  background-color: var(--color-bg-tip-box);
}

.boxWrapper.cautionBox {
  background-color: var(--color-bg-caution-box);
}

.boxWrapper.noticeBox {
  background-color: var(--color-bg-notice-box);
}

.grayText {
  color: var(--color-caption);
}

/* 최상단, 최하단 여백 초기화 */

.postBodyView > *:first-child {
  margin-top: 0;
}

.postBodyView > *:last-child {
  margin-bottom: 0;
}

.postBodyView > img {
  display: block;
  margin: var(--margin-big) 0;
}
