/* Platforms */

.platformsContainer {
  background-color: var(--color-gray5);
  padding: 50px 20px 40px;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.platformsTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
  text-align: center;
}

.platformsDesc {
  margin: 0;
  font-size: var(--font-size-mobile-normal);
  text-align: center;
}

/* StartNow */

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startNowContainer {
  composes: verticalCenter;

  padding: 50px 20px;
  background-color: var(--color-black);
}

.startNowDescription {
  font-size: var(--font-size-mobile-h4);
  font-weight: bold;
  color: white;
  margin: 0;
  text-align: center;
}

/* Footer Menus + Company info */

@value install-button-height: 54px;

.footerMenusAndInfoContainer {
  background-color: var(--color-gray5);
  font-size: var(--font-size-mobile-small);
  padding: 50px 20px calc(install-button-height + 50px);
}

/* Footer Menus */

.footerMenusAndInfoContainer a,
.footerMenusAndInfoContainer a:visited {
  color: inherit;
}

.footerMenu:not(:first-child) {
  margin-top: 40px;
}

.footerMenuLabel {
  font-weight: bold;
  color: var(--color-black);
}

.footerSubMenu {
  margin: 0;
}

.footerSubMenu > li {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 0;
}

.langButton {
  background-color: var(--color-gray4);
  font-size: var(--font-size-mobile-small);
  color: var(--color-black);
  border-radius: 4px;
  height: 28px;
  padding: 0px 10px;
}

/* Company info */

.companyLogo {
  width: 100px;
}

.companyInfoContainer a {
  color: inherit;
}

.companyInfoDetail {
  line-height: 1.8;
}

.policyLink {
  color: var(--color-gray3);
}

a.tosPrivacyLink,
a.tosPrivacyLink:visited {
  color: var(--color-primary);
}
