.mobileLayout {
  font-size: 16px;
  min-width: 320px;
  overflow-x: hidden;
}

html[lang="en"] .mobileLayout {
  line-height: 1.6;
}

.installButton {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: 54px;
  border-radius: 6px;
  background-color: black;
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.installButton.fixed {
  border-radius: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}
