.mobileLayout {
  font-size: 16px;
  min-width: 320px;
}

html[lang="en"] .mobileLayout {
  line-height: 1.6;
}

.installButton {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: 54px;
  border-radius: 6px;
  background-color: #2178f6;
  font-weight: bold;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
}

.downloadImage {
  width: 24px;
  height: 24px;

  margin-right: 10px;
}

.installButton.fixed {
  border-radius: 0px;
  bottom: 0;
  left: 0;
  right: 0;

  box-shadow: none;
}
