.topDescTitle {
  margin-top: 8px;
  font-size: 16px;
  color: black;
}

.topDescDesc {
  font-size: var(--font-size-mobile-small);
  color: var(--color-font-primary);
}

.plainLink {
  color: inherit;
  text-decoration: underline;
}

.px20 {
  padding: 0px 20px;
}

.switchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.billingCycleButton {
  background-color: transparent;
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  color: var(--color-font-header);
  line-height: 24px;

  position: relative;
}

.billingCycleButton.active {
  color: var(--color-font-primary);
}

.yearlyPlanSaveLabel {
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;

  font-size: 12px;
  color: var(--color-font-blue);
  font-weight: normal;

  width: 100%;
  text-align: center;
  line-height: 18px;
}

.planContainer {
  border-radius: 8px;
  padding: 30px 18px;
}

.freePlanContainer {
  composes: planContainer;
  background-color: var(--color-free-plan);
}

.bizPlanContainer {
  composes: planContainer;
  background-color: var(--color-biz-plan);
  position: relative;

  margin-top: 40px;
}

.ribbon span {
  font-size: 12px;
  padding: 5px 0;
  width: 106px;

  right: -8px;
  top: 11px;
  transform: rotate(-45deg);
}

.planTitle {
  height: 29px;
  font-size: var(--font-size-mobile-big2);
  font-weight: bold;
  text-align: center;
  color: black;
}

.planSubtitle {
  height: 24px;
  text-align: center;
  color: black;
}

.planPrice {
  margin-top: 30px;
  height: 68px;
  font-size: var(--font-size-mobile-big4);
  font-weight: bold;
  text-align: center;
  color: black;
}

.planPriceUnit {
  font-size: var(--font-size-mobile-small);
  text-align: center;
  color: black;
}

.planDesc {
  margin-top: 20px;
  font-size: var(--font-size-mobile-big2);
  font-weight: bold;
  text-align: center;
  color: black;
}

.startButton {
  margin-top: 29px;
  width: 100%;
  height: 44px;
  border-radius: 6px;
  background-color: var(--color-font-blue);
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  color: white;
}

.planDetailHeader {
  margin-top: 40px;
  height: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--color-font-header);
}

.planDetailItem {
  margin-top: 14px;
  text-align: center;
  color: black;
}

.planDetailItemBold {
  composes: planDetailItem;
  font-weight: bold;
}

.planDetailItem small {
  font-size: var(--font-size-mobile-small);
  font-weight: normal;
}

.planDetailItem img {
  vertical-align: bottom;
  margin-right: 10px;
}

.planPostscript {
  margin: 20px 0px 48px;
  font-size: var(--font-size-mobile-small);
  text-align: center;
}

/* faq */

.faqContainer {
  background-color: var(--color-bg-light);
  padding: 45px 20px 50px;
}

.faqTitle {
  height: 36px;
  font-size: var(--font-size-mobile-big3);
  font-weight: bold;
  text-align: center;
  color: black;
}

.buttonShowMore {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  background-color: var(--color-font-blue);
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  color: white;
  text-align: center;
}

.faqItemTitle {
  padding: 19px 0;
  line-height: normal;
  color: black;
}

.faqItemBody {
  padding: 19px 0px;
  line-height: normal;
  color: black;
  text-align: left;
}

/* direct contact */

.directContactContainer {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.directContactTitle {
  height: 29px;
  font-size: var(--font-size-mobile-big2);
  font-weight: bold;
  text-align: center;
  color: var(--color-font-blue);
}

.directContactDesc {
  text-align: center;
  letter-spacing: -0.16px;
  color: var(--color-font-darker);
}

.directContactButton {
  background: transparent;
  width: 100%;
  height: 44px;
  border-radius: 6px;
  border: solid 1px var(--color-font-blue);
  font-weight: bold;
  text-align: center;
  color: var(--color-font-blue);
}

.planLimitExtensionDesc {
  margin-top: 20px;
  color: var(--color-font-primary);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.faqContainer li {
  margin: 0;
}

.faqContainer a {
  color: var(--color-font-blue);
  text-decoration: underline;
}
