.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startNowContainer {
  composes: verticalCenter;

  height: 170px;
  background-color: var(--color-bg-dark-black);
}

.startNowDescription {
  font-size: var(--font-size-mobile-big1);
  font-weight: bold;
  letter-spacing: -0.38px;
  color: white;
  margin-top: 10px;
  text-align: center;
}

/* Footer Menus + Company info */

.footerMenusAndInfoContainer {

  background-color: #f7f9fc;
  font-size: var(--font-size-mobile-small);
}

.footerMenusAndInfoContentContainer {
  padding: 50px 20px 80px;
}

/* Footer Menus */

.footerMenusAndInfoContainer a,
.footerMenusAndInfoContainer a:visited {
  color: inherit;
}

.footerMenusColumn:not(:first-child) {
  margin-top: 30px;
}

.footerMenusColumn > div:not(:nth-child(1)) {
  margin-top: 15px;
}

.footerMenuLabel {
  font-weight: bold;
  color: var(--color-font-darker);
}

/* Company info */

.companyLogo {
  width: 100px;
}

.companyInfoContainer a {
  color: inherit;
}

.companyInfoDetail {
  line-height: 1.75;
}

.companyInfoDetail a.tosPrivacyLink,
.companyInfoDetail a.tosPrivacyLink:visited {
  color: var(--color-font-blue);
}

.langButton {
  background-color: var(--color-light-gray);
  font-size: var(--font-size-mobile-small);
  color: black;
  border-radius: 4px;
  height: 28px;
  padding: 0px 10px;
}
