.menuOpenBg {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 199;
  background-color: rgba(0, 0, 0, 0.2);
}

.menuOpenBg.isOpen {
  display: block;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  z-index: 200;
  transition: all 0.1s ease-out;
}

.headerPlaceholder {
  height: var(--height-mobile-top-menu);
}

.whiteContainer {
  background-color: white;
}

/* 메뉴 헴버거 버튼 */

.menuBtn {
  cursor: pointer;
  height: 100%;
  padding: 0px 20px;
  margin-right: -20px;
  background-color: rgba(255, 255, 255, 0);
}

/* Styling the hamburger lines */
.menuBtn .menuBtnLine {
  width: 20px;
  height: 2px;
  background: white;
}

.menuBtn .menuBtnLine:first-child {
  margin-bottom: 4px;
}

.menuBtn,
.menuBtn .menuBtnLine {
  transition: all 0.3s ease-out;
}

.whiteContainer .menuBtn .menuBtnLine {
  background: black;
}

/* Adding tranform to the X */
.menuBtn.isOpen {
  transform: rotate(180deg);
}

.menuBtn.isOpen .menuBtnLine {
  width: 24px;
  border-radius: 1px;
}

/* Styling the three lines to make it an X */
.menuBtn.isOpen .menuBtnLine:nth-child(1) {
  transform: translate(0px, 3px) rotate(45deg);
}

.menuBtn.isOpen .menuBtnLine:nth-child(2) {
  transform: translate(0px, -3px) rotate(-45deg);
}

.menuContainer {
  padding: 0px 20px 30px 20px;
  height: calc(100vh - var(--height-mobile-top-menu));
  max-height: calc(700px - var(--height-mobile-top-menu));
  display: flex;
  flex-direction: column;
}

.logoAndExpandCotainer {
  height: var(--height-mobile-top-menu);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.biLogo {
  width: 100px;
  display: block;
}

.dropDownContainer {
  width: 100%;
  border-bottom: solid 1px var(--color-gray4);
}

.dropDownButton {
  height: 60px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropDownTitle {
  max-width: 295px;
  color: var(--color-font-gray1);
  font-weight: 500;
}

.dropDownActive .dropDownTitle {
  color: var(--color-primary);
}

.dropDownIcon {
  width: 24px;
  height: 24px;
}

.dropDownActive .dropDownIcon {
  transform: rotate(180deg);
}

.dropDownSubMenus {
  margin: 0;
  padding-bottom: 10px;
}

.dropDownItem {
  margin: 0;
  list-style: none;
}

.dropDownItem a {
  display: block;
  padding: 12px 0;
  color: var(--color-font-gray1);
}

.singleMenu a {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  color: var(--color-font-gray1);
  font-weight: 500;
  border-bottom: solid 1px var(--color-gray4);
}

.langButton {
  width: 100%;
  text-align: left;
  background-color: transparent;
  padding: 12px 0;
  color: var(--color-font-gray1);
}

.langButton.selected {
  font-weight: 500;
}

.startNowContainer {
  margin-top: auto;
}

.startNowButton {
  width: 100%;
  padding: 13px 0px;
  border-radius: 6px;
  background-color: var(--color-font-blue);
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  color: white;
}
