/* top */

.topContainer {
  height: 533px;
}

.topTitleContainer {
  height: 114px;
  font-size: var(--font-size-mobile-big3);
  font-weight: bold;
  letter-spacing: -0.54px;
  text-align: center;
  color: white;
}

/* StrongPoints */

.section {
  padding: 50px 0px;
}

.px10 {
  padding: 0px 10px;
}

.px20 {
  padding: 0px 20px;
}

.title {
  font-size: var(--font-size-mobile-big3);
  font-weight: bold;
  letter-spacing: -0.54px;
  text-align: center;
}

.title strong {
  color: var(--color-font-blue)
}

.desc {
  margin-top: 20px;
  padding: 0px 20px;
  letter-spacing: -0.16px;
  color: var(--color-font-primary);
}

.logoContainer {
  margin-top: 30px;
  text-align: center;
}

/* Other features  */

.featureContentContainer {
  padding: 50px 20px;
}

.featureTitle {
  font-size: var(--font-size-mobile-big3);
  font-weight: bold;
  letter-spacing: -0.54px;
  text-align: center;
  color: white;
}

.featureDesc {
  letter-spacing: -0.16px;
  text-align: center;
  color: white;
}

.featureRow {
  margin-top: 40px;

}

.featureRowTitle {
  height: 27px;
  font-size: var(--font-size-mobile-big1);
  font-weight: bold;
  letter-spacing: -0.18px;
  color: white;
}

.featureContainer > *:not(:first-child) {
  margin-top: 10px;
  display: block;
}

.featureCard {
  padding: 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 20px 60px -20px rgba(0, 0, 0, 0.5);
  background-color: white;
  text-align: left;
}

.featureIcon {
  width: 24px;
  height: 24px;
  display: block;
}

.featureCardTitle {
  height: 27px;
  font-size: var(--font-size-mobile-big1);
  font-weight: bold;
  color: black;
}

.featureCardContent {
  font-size: var(--font-size-mobile-small);
  color: black;
}
