.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postList {
  max-width: 500px;

  list-style: none;
  margin: 70px 0 0;
  padding: 0 30px;
}

.postCard {
  display: block;

  width: 100%;
  height: 340px;

  border-radius: 8px;
  border: 1px solid var(--color-light-gray);
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);

  overflow: hidden;
}

.postCard + .postCard {
  margin-top: 24px;
}

.thumbnailWrapper {
  height: 50%;
  overflow: hidden;
  background-color: var(--color-light-gray);
}

.thumbnailImage {
  width: 100%;
}

.pageTitle,
.pageDescription {
  color: var(--color-font-darker);
}

.pageTitle {
  margin: 50px 0 0;
  font-size: 26px;
  font-weight: bold;
}

.pageDescription {
  margin: 20px 0 0;
  padding: 0 30px;
  text-align: center;

  font-size: 16px;
}

.postCardDetail {
  padding: 0 20px 20px;

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.postCategory {
  position: absolute;
  top: 0;

  transform: translateY(-50%);

  padding: 2px 8px;
  background-color: var(--color-font-darker);
  border-radius: 4px;

  font-size: 12px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
}

.postTitle {
  margin: 27px 0 0;
  font-size: 18px;
  font-weight: 500;

  color: black;

  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.postDescription {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-font-header);
}

.pagination-bar {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 48px 0;
  padding: 0 20px;
}

.pagination-bar span {
  font-size: 14px;
  color: var(--color-font-darker);
}

.navButtonGroup {
  width: 100%;
  margin-top: 8px;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navButton {
  display: flex;
  align-items: center;
}

.prevButtonLabel {
  flex: 0 0 auto;
  margin-left: 10px;
}

.nextButtonLabel {
  flex: 0 0 auto;
  margin-right: 10px;
}
