/* Top */

.topContentContainer {
  padding: 50px 20px;
  color: var(--color-black);
  text-align: center;
}

.topTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h2);
}

.topDescTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h4);
  font-weight: normal;
}

.topDescDesc {
  margin: 0;
  font-size: var(--font-size-mobile-normal);
  color: var(--color-gray1);
}

/* PriceTable */

.priceTableContentContainer {
  padding: 0px 20px 50px;
  color: var(--color-black);
  text-align: center;
}

.planContainer {
  border-radius: 8px;
  padding: 30px 20px;
}

.freePlanContainer {
  composes: planContainer;
  border: 1px solid var(--color-gray4);
  background-color: var(--color-gray5);
}

.planTitle {
  margin: 0;
  height: 29px;
  font-size: var(--font-size-mobile-h3);
  font-weight: bold;
}

.planPrice {
  margin: 0;
  font-weight: bold;
}

.freePlanContainer .planPrice {
  font-size: 40px;
}

.bizPlanContainer .planPrice {
  font-size: 50px;
}

.startButton {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  background-color: var(--color-primary);
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  color: white;
  margin: 24px 0;
}

.basicLimitContainer,
.extensionsContainer {
  margin: 0;
  text-align: center;
}

.basicLimit {
  list-style-type: none;
}

.basicLimit + .basicLimit {
  margin-top: 14px;
}

.divider {
  height: 1px;
  background-color: var(--color-gray3);
  margin: 24px 0;
}

.supportFeatures {
  margin: 0;
  text-align: left;
}

.supportFeature {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.supportFeature img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.supportFeature + .supportFeature {
  margin-top: 14px;
}

.fontMedium {
  font-weight: 500;
}

.planLimitExtensionDesc {
  margin: 0;
  font-size: var(--font-size-b12);
  color: var(--color-gray1);
  line-height: normal;
}

.bizPlanContainer {
  composes: planContainer;
  background-color: var(--color-light-blue-20);
  position: relative;
}

.switchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 24px 0 29px 0;
}

.billingCycleButton {
  background-color: transparent;
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  color: var(--color-gray2);
}

.billingCycleButton.active {
  color: var(--color-gray1);
}

.labelYearly {
  position: relative;
}

.yearlyPlanSaveLabel {
  position: absolute;
  left: 50%;
  top: calc(100% + 2px);
  transform: translateX(-50%);
  white-space: nowrap;

  font-size: var(--font-size-b12);
  color: var(--color-primary);
  font-weight: normal;

  text-align: center;
  line-height: 1.37;
}

.planPriceUnit {
  font-size: var(--font-size-mobile-small);
  line-height: 1.8;
}

.extensionsTitle {
  font-size: var(--font-size-mobile-normal);
  color: var(--color-primary);
  font-weight: 500;
  margin: 0 0 14px 0;
}

.extension {
  list-style-type: none;
  font-weight: 500;
  line-height: 1.37;
}

.extension + .extension {
  margin-top: 14px;
}

/* faq */

.faqContainer {
  background-color: var(--color-gray5);
}

.faqContentContainer {
  padding: 50px 20px;
  color: var(--color-black);
}

.faqTitle {
  margin: 0;
  height: 36px;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
  text-align: center;
}

.buttonShowMore {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  background-color: var(--color-primary);
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  color: white;
  text-align: center;
}

.faqItemTitle {
  padding: 19px 0;
  line-height: 1.37;
}

.faqItemTitle > span {
  margin-right: 8px;
}

.faqItemBody {
  padding: 19px 0px;
  line-height: normal;
  text-align: left;
}

.faqContainer li {
  margin: 0;
}

.faqContainer a {
  color: var(--color-primary);
  text-decoration: underline;
}

/* direct contact */

.directContactContainer {
  padding: 50px 20px;
  text-align: center;
}

.directContactTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h3);
  font-weight: bold;
  color: var(--color-primary);
}

.directContactDesc {
  margin: 0;
  letter-spacing: -0.16px;
  color: var(--color-black);
}

.directContactButton {
  background: transparent;
  width: 100%;
  height: 44px;
  border-radius: 6px;
  border: solid 1px var(--color-primary);
  font-weight: bold;
  text-align: center;
  color: var(--color-primary);
}
