/* Top */

.topContainer {
  padding: 50px 20px;
  color: var(--color-font-gray1);
  text-align: center;
}

.topTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h2);
}

.topDesc {
  margin: 0;
}

/* FeatureTemplate */

.featureTemplate {
  padding: 50px 20px;
  color: var(--color-font-gray1);
}

.featureTemplateTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
  text-align: center;
}

.featureTemplateDesc {
  margin: 0;
  font-size: var(--font-size-mobile-normal);
  text-align: center;
}

.demoTemplate:not(:first-child) {
  margin-top: 40px;
}

.demoUserProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demoTitle {
  font-size: var(--font-size-mobile-small);
  color: var(--color-font-primary);
}

.demoDesc {
  font-size: var(--font-size-mobile-small);
  text-align: center;
}

.bgWhite {
  background-color: white;
}

.bgOrange {
  background-color: var(--color-feature-bg-orange);
}

.bgGreen {
  background-color: var(--color-feature-bg-green);
}

.bgBlue {
  background-color: var(--color-feature-bg-blue);
}
