.px20 {
  padding: 0px 20px;
}

.featureTemplate {
  padding: 50px 0px;
}

.featureTemplateTitle {
  font-size: var(--font-size-mobile-big3);
  font-weight: bold;
  letter-spacing: -0.54px;
  text-align: center;
  color: black;
}

.featureTemplateDesc {
  color: var(--color-font-darker);
  letter-spacing: -0.16px;
  text-align: center;
}

html[lang="ko"] .featureTemplateDesc {
  letter-spacing: -0.16px;
}

.featureTemplateStartNow {
  min-width: 180px;
  border-radius: 6px;
  background-color: var(--color-font-blue);
  padding: 9px 30px;
  font-size: var(--font-size-mobile-big1);
  font-weight: bold;
  text-align: center;
  color: white;
}

.featureTemplateFigureContainer {
  text-align: center;
}

.demoTemplate:not(:first-child) {
  margin-top: 50px;
}

.demoLogo {
  vertical-align: bottom;
}

.demoTitle {
  height: 20px;
  margin-left: 14px;
  font-size: var(--font-size-mobile-small);
  letter-spacing: -0.16px;
  color: var(--color-font-primary);
}

.demoDesc {
  font-size: var(--font-size-mobile-small);
  color: var(--color-font-darker);
}

html[lang="ko"] .demoDesc {
  letter-spacing: -0.16px;
}

.bgWhite {
  background-color: white;
}

.bgOrange {
  background-color: var(--color-feature-bg-orange);
}

.bgGreen {
  background-color: var(--color-feature-bg-green);
}

.bgBlue {
  background-color: var(--color-feature-bg-blue);
}
