/* top */

.topContainer {
  padding-top: var(--height-mobile-top-menu);
}

.topContentContainer {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
  text-align: center;
  color: white;
}

.topImageContainer {
  width: 100vw;
  height: 348px;
  position: relative;
  overflow: hidden;
}

.topImageScrollContainer {
  width: 100%;
  position: absolute;
  top: 0;
  overflow-x: scroll;
}

.topImage {
  margin-left: 20px;
}

/* StrongPoints */

.strongPoint {
  padding: 50px 20px;
  color: var(--color-font-gray1);
  text-align: center;
}

.title {
  margin: 0;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
  text-align: center;
}

.desc {
  margin: 0;
  font-size: var(--font-size-mobile-normal);
}

/* Other features  */

.featureContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 50px 20px;
  color: white;
}

.featureTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
  text-align: center;
}

.featureDesc {
  margin: 0;
  text-align: center;
}

.featureRow {
  margin-top: 40px;
}

.featureRowTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h4);
  font-weight: bold;
}

.featureContainer {
  margin: 0;
}

.featureContainer li {
  list-style: none;
}

.featureContainer li:not(:first-child) {
  margin-top: 10px;
  display: block;
}

.featureCard {
  min-height: 147px;
  padding: 20px 24px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 20px 60px -20px rgba(0, 0, 0, 0.5);
  background-color: white;
  color: var(--color-font-gray1);
}

.featureIcon {
  width: 24px;
  height: 24px;
  display: block;
}

.featureCardTitle {
  line-height: normal;
  font-size: var(--font-size-mobile-h4);
  font-weight: bold;
}

.featureCardContent {
  font-size: var(--font-size-mobile-small);
}
