/* top */

.topContainer {
  padding-top: var(--height-mobile-top-menu);
  height: 630px;
  overflow: hidden;
}

.topContentContainer {
  padding: 0 20px;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topIcon {
  display: block;
  width: 24px;
  height: 24px;
}

.topLeftTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h1);
  font-weight: bold;
  line-height: 1.47;
  text-align: center;
}

.topLeftDescription {
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

.topImageContainer {
  overflow: visible;
}

/* Chatting */

.chattingContentContainer {
  color: var(--color-font-gray1);
  padding: 50px 20px;
}

.chattingTitle {
  margin: 0;
  text-align: center;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
}

.chattingDescription {
  margin: 0;
  text-align: center;
  line-height: 1.5;
}


/* keyFeature */

.darkBg {
  background: var(--color-bg-light);
}

.keyFeatureContainer {
  composes: darkBg;
}

.keyFeatureContentContainer {
  padding: 50px 20px;
  color: var(--color-font-gray1);
}

.keyFeatureTitle {
  margin: 0;
  text-align: center;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
}
.keyFeatureTitle strong {
  color: var(--color-primary);
}

.keyFeatureDescription {
  margin: 0;
  text-align: center;
  font-size: var(--font-size-mobile-normal);
  line-height: 1.5;
}

.KeyFeatureSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slideNavButton {
  width: 24px;
  height: 24px;
  background: transparent;
}
.slideNavButton:disabled {
  opacity: 0;
}

.keyFeatureSlideTitle {
  max-width: 280px;
  color: var(--color-font-gray1);
  font-weight: 500;
  padding: 12px 18px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
}

.keyFeatureSlideTitle img {
  margin-right: 10px;
}

.keyFeatureDotGroup {
  display: flex;
  justify-content: center;
}

.keyFeatureDot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--color-gray3);
}

/* carousel__dot */
.keyFeatureDotGroup button {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--color-gray3);
}

.keyFeatureDotGroup button:not(:last-child) {
  margin-right: 8px;
}

.keyFeatureDotGroup button:disabled {
  background-color: var(--color-primary);
}

/* sales management */

.salesManagementContentContainer {
  color: var(--color-font-gray1);
  padding: 50px 0;
}

.salesManagementTitle {
  margin: 0;
  padding: 0 20px;
  text-align: center;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
}
.salesManagementTitle strong {
  color: var(--color-primary);
}

.salesManagementDesc {
  margin: 0;
  padding: 0 20px;
  text-align: center;
  font-size: var(--font-size-mobile-normal);
  line-height: 1.5;
}
.salesManagementDesc strong {
  background-color: var(--color-light-blue-20);
}

.salesManagementSelectorKOR {
  padding: 0 20px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-light);
  border-bottom: 2px solid var(--color-gray4);
}

.salesManagementDotKOR {
  color: var(--color-gray2);
  width: 33.33%;
  height: 100%;
  background-color: transparent;
  font-weight: 500;
  letter-spacing: -0.1px;
  border-radius: 0;
  margin-top: 2px;
}
.salesManagementDotKOR + .salesManagementDotKOR {
  margin-left: 20px;
}

.salesManagementDotKOR:disabled {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.salesManagementSelectorContainer {
  width: 100%;
  padding: 6px 0;
  padding-left: 50%;
  overflow-x: hidden;
  background-color: var(--color-bg-light);
}

.salesManagementSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* carousel default animation */
  transition: margin-left 0.5s cubic-bezier(.645,.045,.355,1);
}

.salesManagementDot {
  padding: 14px 20px;
  border-radius: 8px;
  font-weight: 500;
  background-color: transparent;
  color: var(--color-gray2);
  flex: 0 0 auto;
}

.salesManagementDot:disabled {
  color: var(--color-primary);
  padding: 14px 20px;
  border-radius: 8px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  border: solid 1px var(--color-gray4);
  background-color: white;
}

.salesManagementSlide {
  padding: 0 20px;
}

/* team play */

.teamPlayContainer {
  overflow: hidden;
}

.teamPlayContentContainer {
  padding: 0 20px;
  color: white;
}

.teamPlayTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
  text-align: center;
}

.teamPlayDesc {
  margin: 0;
  line-height: 1.5;
  text-align: center;
}


/* Customers  */

.customersContainer {
  padding: 50px 20px;
  color: var(--color-font-gray1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customersTitle {
  margin: 0;
  font-size: var(--font-size-mobile-h2);
  font-weight: bold;
  text-align: center;
}

.customersDesc {
  margin: 0;
  text-align: center;
  line-height: 1.5;
}

.customersCardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -8px 0 0 -8px;
  position: relative;
}

.customersFadeOut {
  position: absolute;
  z-index: 1;
  bottom: -6px;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0),
                  rgba(255,255,255, 1) 90%);
  width: 100%;
  height: 150px;
}

.customerCard {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 12px 14px;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px var(--color-gray4);
  margin: 8px 0 0 8px;
}

/* Features */

.featuresContainer {
  composes: darkBg;
  padding: 50px 0px;

  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featuresTitle {
  padding: 0px 20px;
  font-size: var(--font-size-mobile-big2);
  font-weight: bold;
  letter-spacing: -0.42px;
  text-align: center;
}

.featuresTitle strong {
  color: var(--color-font-blue);
}

.sliderWrapper {
  width: 280px;
  height: 204px;
  border-radius: 12px;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
}

.slideDetailLink {
  width: 92px;
  height: 24px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: -0.14px;
  color: var(--color-font-blue);
}

.slideDetailLinkContainer {
  text-align: center;
}

.slideDetailLink img {
  vertical-align: bottom;
  filter: color(--color-font-blue);
}

.rightArrow {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.slideDetailDotGroupContainer {
  width: 100%;
  position: relative;
  padding-left: 50%;
  overflow-x: hidden;
}

.slideDetailDotGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition: margin-left 0.3s;
}

.slideDetailDot {
  padding: 9px 20px;
  border-radius: 22px;
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-font-darker);
  transition: color 0.3s;
  flex: 0 0 auto;
}

.slideDetailDotSelected {
  color: white;
}

.slideDetailDotBackground {
  padding: 9px 20px;
  border-radius: 22px;
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  background-color: var(--color-carousel-dot);
  color: var(--color-carousel-dot);
  position: absolute;
  transform: translateX(-50%);
  transition: min-width 0.3s;
}

.startNowContainer {
  padding: 50px 0px;
  text-align: center;
}

.startNowTitle {
  font-size: var(--font-size-mobile-big2);
  font-weight: bold;
  letter-spacing: -0.42px;
  text-align: center;
  color: black;
}

.startNowDescription {
  letter-spacing: -0.16px;
  text-align: center;
}

.startNowDescription strong {
  font-weight: bold;
  color: var(--color-font-blue);
}

.startNowDetailLink {
  font-weight: bold;
  letter-spacing: -0.16px;
  color: var(--color-font-blue);
}

.startNowDetailLink img {
  vertical-align: bottom;
  filter: color(--color-font-blue);
}
