.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startNowContainer {
  composes: verticalCenter;

  height: 170px;
  background-color: var(--color-bg-dark-black);
}

.startNowDescription {
  font-size: var(--font-size-mobile-big1);
  font-weight: bold;
  letter-spacing: -0.38px;
  color: white;
  margin-top: 10px;
  text-align: center;
}

/* Footer Menus + Company info */

.footerMenusAndInfoContainer {
  composes: verticalCenter;

  background-color: #f7f9fc;
  font-size: var(--font-size-mobile-small);
}

.footerMenusAndInfoContentContainer {
  padding: 50px 35px 80px;
  text-align: left;
  width: 100%;
}

/* Footer Menus */

.footerMenusAndInfoContainer a,
.footerMenusAndInfoContainer a:visited {
  color: inherit;
}

.footerMenusColumn:not(:first-child) {
  margin-top: 30px;
}

.footerMenusColumn > div:not(:nth-child(1)) {
  margin-top: 15px;
}

.footerMenuLabel {
  font-weight: bold;
  color: var(--color-font-darker);
}

/* Company info */

.companyLogo {
  width: 100px;
}

.companyInfoContainer a {
  color: inherit;
}

.companyInfoDetail {
  line-height: 1.75;
}

.companyInfoDetail a.tosPrivacyLink,
.companyInfoDetail a.tosPrivacyLink:visited {
  color: var(--color-font-blue);
}

.footerLangSelector {
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: right 8px center;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjYiIHdpZHRoPSIxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtNSA2LjI1IDUtNi4yNWgtMTB6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") no-repeat right 8px center;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin : 0;
  font-weight: bold;
  text-align: left;
  font-size: var(--font-size-mobile-small);
  display: inline-block;
  padding-right: 30px;
  padding-right: 8px \9;
  appearance: none;
}

.footerLangSelector:focus {
}

.footerLangSelector > option {
  color: black;
}

.footerLangSelector::-ms-expand {
  display: none;
}
