/* top */

.topContainer {
  overflow: hidden;
}

.topContentContainer {
  padding: 0px 10px;
  height: 100%;
  color: white;
}

.topIcon {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0px auto;
}

.topLeftTitle {
  font-size: var(--font-size-mobile-big3);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.topLeftDescription {
  padding: 0px;
  line-height: 1.71;
  text-align: center;
}

.topImageContainer {
  overflow: visible;
}

/* keyFeature */

.darkBg {
  background: var(--color-bg-light);
}

.keyFeatureContentContainer {
  padding: 50px 0px 0px;
  text-align: center;
}

.px20 {
  padding: 0px 20px;
}

.keyFeatureIcon {
  display: block;
  width: 24px;
  height: 24px;
}

.keyFeatureTitle {
  composes: px20;
  font-size: var(--font-size-mobile-big3);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.keyFeatureTitle strong {
  color: var(--color-font-blue);
}

.keyFeatureDescription {
  composes: px20;
  line-height: 1.71;
  letter-spacing: -0.14px;
}

.keyFeatureSubTitle {
  composes: px20;
  line-height: 1.71;
  letter-spacing: -0.14px;
  font-weight: bold;
}

.keyFeatureSubDesc {
  composes: px20;
  line-height: 1.71;
  letter-spacing: -0.14px;
}

.keyFeatureDetail {
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: -0.14px;
}

.keyFeatureDetailLinkContainer {
  color: var(--color-font-blue);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.rightArrow {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* team play */

.teamPlayContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.teamPlayTitle {
  height: 36px;
  font-size: var(--font-size-mobile-big3);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.teamPlayDesc {
  line-height: 1.71;
  letter-spacing: -0.14px;
  text-align: center;
}

.teamImageFlex {
  display: flex;
}

/* Customers  */

.customersContainer {
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.customersTitle {
  height: 58px;
  font-size: var(--font-size-mobile-big2);
  font-weight: bold;
  letter-spacing: -0.42px;
  text-align: center;
}

.customersTitle strong {
  color: var(--color-font-blue);
}

.customersWrapper {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.customersDetailButton {
  padding: 6px 15px;
  border-radius: 22px;
  background-color: #50a4fa;

  color: white;
  font-size: var(--font-size-mobile-small);
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

html[lang="ko"] .customersDetailButton {
  padding: 6px 30px;
}

.customerButton {
  width: 110px;
  height: 140px;
  position: relative;
  margin: 60px 10px 50px;
  flex-shrink: 0;
}

.customerButtonBackground {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);

  overflow: hidden;
}

.customerButtonContent {
  position: relative;
  padding: 14px 12px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;

  color: white;
}

.customButtonContentNumber {
  height: 20px;
  font-size: var(--font-size-mobile-small);
  font-weight: 300;
}

.customButtonContentTitle {
  font-size: var(--font-size-mobile-small);
  white-space: pre-line;
  line-height: 1.2em;
  font-weight: bold;
}

.customButtonContentPadding {
  flex: 1;
}

.customButtonContentLink {
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  transition: color 0.3s;
}

.customButtonContentLink:hover {
  color: var(--color-carousel-dot);
}

/* Features */

.featuresContainer {
  composes: darkBg;
  padding: 50px 0px;

  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featuresTitle {
  padding: 0px 20px;
  font-size: var(--font-size-mobile-big2);
  font-weight: bold;
  letter-spacing: -0.42px;
  text-align: center;
}

.featuresTitle strong {
  color: var(--color-font-blue);
}

.sliderWrapper {
  width: 280px;
  height: 204px;
  border-radius: 12px;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
}

.slideDetailLink {
  width: 92px;
  height: 24px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: -0.14px;
  color: var(--color-font-blue);
}

.slideDetailLinkContainer {
  text-align: center;
}

.slideDetailLink img {
  vertical-align: bottom;
  filter: color(--color-font-blue);
}

.slideDetailDotGroupContainer {
  width: 100%;
  position: relative;
  padding-left: 50%;
  overflow-x: hidden;
}

.slideDetailDotGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition: margin-left 0.3s;
}

.slideDetailDot {
  padding: 9px 20px;
  border-radius: 22px;
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-font-darker);
  transition: color 0.3s;
  flex: 0 0 auto;
}

.slideDetailDotSelected {
  color: white;
}

.slideDetailDotBackground {
  padding: 9px 20px;
  border-radius: 22px;
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  background-color: var(--color-carousel-dot);
  color: var(--color-carousel-dot);
  position: absolute;
  transform: translateX(-50%);
  transition: min-width 0.3s;
}

.startNowContainer {
  padding: 50px 0px;
  text-align: center;
}

.startNowTitle {
  font-size: var(--font-size-mobile-big2);
  font-weight: bold;
  letter-spacing: -0.42px;
  text-align: center;
  color: black;
}

.startNowDescription {
  letter-spacing: -0.16px;
  text-align: center;
}

.startNowDescription strong {
  font-weight: bold;
  color: var(--color-font-blue);
}

.startNowDetailLink {
  font-weight: bold;
  letter-spacing: -0.16px;
  color: var(--color-font-blue);
}

.startNowDetailLink img {
  vertical-align: bottom;
  filter: color(--color-font-blue);
}
