.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.1s ease-out;
}

.headerPlaceholder {
  height: var(--height-mobile-top-menu);
}

.whiteContainer {
  background-color: white;
}

/* 메뉴 헴버거 버튼 */

.menuBtn {
  cursor: pointer;
  padding: 8px 2px;
  background-color: rgba(255, 255, 255, 0);
}

/* Styling the hamburger lines */
.menuBtn .menuBtnLine {
  width: 20px;
  height: 2px;
  background: white;
}

.menuBtn .menuBtnLine:first-child {
  margin-bottom: 4px;
}

.menuBtn,
.menuBtn .menuBtnLine {
  transition: all 0.3s ease-out;
}

.whiteContainer .menuBtn .menuBtnLine {
  background: black;
}

/* Adding tranform to the X */
.menuBtn.isOpen {
  transform: rotate(180deg);
}

/* Styling the three lines to make it an X */
.menuBtn.isOpen .menuBtnLine:nth-child(1) {
  transform: translate(0px, 3px) rotate(45deg);
}

.menuBtn.isOpen .menuBtnLine:nth-child(2) {
  transform: translate(0px, -3px) rotate(-45deg);
}

.menuContainer {
  padding: 0px 20px;
}

.logoAndExpandCotainer {
  height: var(--height-mobile-top-menu);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.menuContainer a {
  color: inherit;
}

a.selected {
  color: var(--color-font-blue);
}

.biLogo {
  width: 100px;
  display: block;
}

.langButtonContainer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.langButton {
  background-color: var(--color-light-gray);
  font-size: var(--font-size-mobile-small);
  color: black;
  border-radius: 4px;
  height: 28px;
  width: 50px;
}

.startNowContainer {
  padding: 20px 0px 30px;
}

.startNowButton {
  width: 100%;
  padding: 13px 0px;
  border-radius: 6px;
  background-color: var(--color-font-blue);
  font-size: var(--font-size-mobile-small);
  font-weight: bold;
  color: white;
}

.menuItem {
  padding: 18px 0px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.splitLine {
  border-bottom: solid 1px rgba(224, 224, 227, 0.5);
}
