.postBodyView {
  color: var(--color-font-darker);
}

/* 하위 요소 스타일 초기화 */

.postBodyView * {
  margin: 0;
  padding: 0;
}

/* 형태 관련 */

.postBodyView h2,
h3,
h4 {
  font-weight: bold;
}

.postBodyView h2 {
  font-size: 32px;
}

.postBodyView h3 {
  font-size: 24px;
}

.postBodyView h4 {
  font-size: 20px;
}

.postBodyView p {
  font-size: 18px;
  line-height: 27px;

  text-align: justify;
  hyphens: auto;
}

.postBodyView li {
  margin: 0 0 0 1em;
}

.postBodyView li {
  font-size: 18px;
  line-height: 1.8em;
}

.postBodyView blockquote {
  margin: 0;
  padding-left: 16px;
  border-left: 4px solid black;
}

.postBodyView hr {
  margin: 0;
  border-top: 1px solid var(--color-light-gray);
}

.postBodyView figure figcaption {
  margin-top: 16px;

  display: flex;
  justify-content: center;

  font-size: 14px;
  color: var(--color-font-header);
}

/* 위치 관련 */

.postBodyView p {
  margin: 16px 0;
}

.postBodyView li > p {
  margin: 0;
}

.postBodyView h2,
h3,
h4 {
  margin-top: 64px;
}

/* 최상단, 최하단 여백 초기화 */

.postBodyView *:first-child {
  margin-top: 0;
}

.postBodyView *:last-child {
  margin-bottom: 0;
}

.postBodyView img {
  display: block;
  margin: 64px 0;
}
