.postBodyView {
  --color-hr: #e0e0e3;
  --color-bg-mark: #50a4fa33;
  --color-image-caption: #8f91a0;
  --color-table-odd-bg: #f7f9fc;
  --color-table-border: #e0e0e3;
  --color-anchor: #4f67ff;
  --color-box-border: #e0e0e3;
  --color-bg-tip-box: rgba(80, 164, 250, 0.1);
  --color-bg-caution-box: rgba(245, 166, 35, 0.1);
  --color-bg-notice-box: rgba(60, 185, 160, 0.1);

  color: var(--color-font-darker);
}

/* 하위 요소 스타일 초기화 */

.postBodyView * {
  margin: 0;
  padding: 0;
}

/* 형태 관련 */

.postBodyView h2,
.postBodyView h3,
.postBodyView h4 {
  font-weight: bold;
}

.postBodyView h2 {
  font-size: 32px;
}

.postBodyView h3 {
  font-size: 24px;
}

.postBodyView h4 {
  font-size: 20px;
}

.postBodyView p {
  font-size: 18px;
  line-height: 27px;

  text-align: justify;
  hyphens: auto;
}

.postBodyView a {
  color: var(--color-anchor);
  text-decoration: underline;
}

.postBodyView li {
  font-size: 18px;
  line-height: 1.8em;
  margin-left: 1.4em;
}

.postBodyView blockquote {
  margin: 0;
  padding-left: 16px;
  border-left: 4px solid black;
}

.postBodyView hr {
  margin: 0;
  border-top: 1px solid var(--color-hr);
}

.postBodyView figure figcaption {
  margin-top: 16px;

  display: flex;
  justify-content: center;

  font-size: 14px;
  color: var(--color-image-caption);
}

/* 위치 관련 */

.postBodyView > p {
  margin: 16px 0;
}

.postBodyView mark {
  background-color: var(--color-bg-mark);
}

.postBodyView li > p {
  margin: 0;
}

.postBodyView h2,
.postBodyView h3,
.postBodyView h4 {
  margin-top: 64px;
}

.postBodyView hr {
  margin: 16px 0;
}

.postBodyView table {
  margin: 64px auto;

  max-width: 100%;
  overflow: auto;
  width: 100%;
  width: max-content;
}

.postBodyView table th,
.postBodyView table td {
  padding: 6px 13px;
  text-align: center;

  border: 1px solid var(--color-table-border);
}

.postBodyView table tr:nth-child(2n) {
  background-color: var(--color-table-odd-bg);
}

/* 커스텀 요소 */

.boxWrapper {
  padding: 16px 20px;
  border-radius: 6px;
  border: 1px solid var(--color-box-border);

  display: flex;
  align-items: flex-start;
}

.boxIcon {
  flex: 0 0 auto;

  width: 24px;
  height: 24px;

  object-fit: cover;
}

.boxBody {
  margin-left: 12px;
  font-size: 16px;
  line-height: 24px;
}

.boxWrapper.tipBox {
  background-color: var(--color-bg-tip-box);
}

.boxWrapper.cautionBox {
  background-color: var(--color-bg-caution-box);
}

.boxWrapper.noticeBox {
  background-color: var(--color-bg-notice-box);
}

/* 최상단, 최하단 여백 초기화 */

.postBodyView *:first-child {
  margin-top: 0;
}

.postBodyView *:last-child {
  margin-bottom: 0;
}

.postBodyView > img {
  display: block;
  margin: 64px 0;
}
